 * {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, sans-serif;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.75);
  }

.form-box {
    border-radius: 20px;
    width: 450px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 70px 35px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 50px;
    color: #000;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.form-field{
    margin: 20px 0;
}

.form-field label{
    float: left;
}

.form-field input {
    width: 100%;
    background: #eae7e7;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    outline: none;
    padding: 18px 15px;
}

.form-field textarea{
    height: 150px;
    width: 100%;
    background-color:#eaeaea;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: #df2234;
}

.form-field .error {
    color: #df2234;
}

.form-field.success input {
    border-color: #0f5c21;
}

.form-field .success {
    color: #0f5c21;
}


.btn-field {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.btn {
    flex-basis: 40%;
    background: #0084ff;
    color: #fff;
    height: 40px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.close{
    flex-basis: 40%;
    color: #fff;
    height: 40px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #999999; 
}

.btn-send{
    flex-basis: 40%;
    background: green;
    color: #fff;
    height: 40px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.inline-links {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: .875rem;
    float: left;
    margin-bottom: 20px;
}
.inline-links li span{
    color: #373b4b;
}
.inline-links li a{
    color: #373b4b;
    text-decoration: none;
}

.inline-links-item {
    padding-inline: 1.25rem;
}

.inline-links-item a.link{
    text-decoration: underline;
}
